
@{

    if (Session["check"] != null)
    {
        ViewBag.Title = "UpdatePassword";
        Layout = "~/Views/Shared/_MyUserLayout.cshtml";
        <style>
            div {
                margin: 100px 200px;
                padding: 10px;
                text-align: center;
                width: 500px;
            }

            .button {
                height: 50px;
                width: 100px;
                background-color: lightblue;
            }
        </style>
        <div>
            <h1>Enter New Password</h1>
            <form action="~/Existing/ResetPassword" method="get">
                <input type="password" name="code" id="code" required /><br /><br />
                <input class="button" type="submit" name="btn" id="btn" value="Update" />
            </form>

        </div>
    }
    else
    {
        <span>Please Login First</span>
    }


}




