USE [master]
GO
/****** Object:  Database [UMS]    Script Date: 27/02/2019 21:09:51 ******/
CREATE DATABASE [UMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\UMS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\UMS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UMS]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 27/02/2019 21:09:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] NOT NULL,
	[AdminName] [varchar](55) NULL,
	[Login] [varchar](55) NULL,
	[Password] [varchar](55) NULL,
 CONSTRAINT [admin_pk] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27/02/2019 21:09:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[Name] [varchar](55) NULL,
	[Login] [varchar](55) NULL,
	[Password] [varchar](55) NULL,
	[Gender] [char](1) NULL,
	[Address] [varchar](55) NULL,
	[Age] [int] NULL,
	[NIC] [varchar](20) NULL,
	[DOB] [date] NULL,
	[IsCricket] [bit] NULL,
	[Hockey] [bit] NULL,
	[Chess] [bit] NULL,
	[ImageName] [varchar](55) NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [user_pk] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
